Process historical betting odds from AFL Repository (aussportsbetting.com)

In [16]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
odds = pd.read_csv("/total-points-score-model/data/aus_sports_betting_odds.csv")

In [3]:
odds.head()

,Unnamed: 0,Home_Team,Away_Team,Date,Home_Odds,Away_Odds,Bookmakers_Surveyed,Home_Odds_Open,Home_Odds_Min,Home_Odds_Max,...,Total_Score_Over_Min,Total_Score_Over_Max,Total_Score_Over_Close,Total_Score_Under_Open,Total_Score_Under_Min,Total_Score_Under_Max,Total_Score_Under_Close,Match_ID,Round_ID,Season
0,1,Essendon,Melbourne,2009-06-19,1.24,3.93,5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200912_Essendon_Melbourne,200912,2009
1,2,Fremantle,Geelong,2009-06-21,7.25,1.08,5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200912_Fremantle_Geelong,200912,2009
2,3,Sydney,Collingwood,2009-06-20,1.93,1.75,5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200912_Sydney_Collingwood,200912,2009
3,4,Adelaide,Sydney,2009-06-27,1.25,3.75,5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200913_Adelaide_Sydney,200913,2009
4,5,Brisbane Lions,Melbourne,2009-06-27,1.06,8.25,5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200913_BrisbaneLions_Melbourne,200913,2009

In [4]:
odds = odds[odds['Date'] > "2019-01-01"]

In [5]:
list(odds)

['Unnamed: 0',
 'Home_Team',
 'Away_Team',
 'Date',
 'Home_Odds',
 'Away_Odds',
 'Bookmakers_Surveyed',
 'Home_Odds_Open',
 'Home_Odds_Min',
 'Home_Odds_Max',
 'Home_Odds_Close',
 'Away_Odds_Open',
 'Away_Odds_Min',
 'Away_Odds_Max',
 'Away_Odds_Close',
 'Home_Line_Open',
 'Home_Line_Min',
 'Home_Line_Max',
 'Home_Line_Close',
 'Away_Line_Open',
 'Away_Line_Min',
 'Away_Line_Max',
 'Away_Line_Close',
 'Home_Line_Odds_Open',
 'Home_Line_Odds_Min',
 'Home_Line_Odds_Max',
 'Home_Line_Odds_Close',
 'Away_Line_Odds_Open',
 'Away_Line_Odds_Min',
 'Away_Line_Odds_Max',
 'Away_Line_Odds_Close',
 'Total_Score_Open',
 'Total_Score_Min',
 'Total_Score_Max',
 'Total_Score_Close',
 'Total_Score_Over_Open',
 'Total_Score_Over_Min',
 'Total_Score_Over_Max',
 'Total_Score_Over_Close',
 'Total_Score_Under_Open',
 'Total_Score_Under_Min',
 'Total_Score_Under_Max',
 'Total_Score_Under_Close',
 'Match_ID',
 'Round_ID',
 'Season']

In [6]:
total_score_odds_cols = [
    'Match_ID',
    'Round_ID',
    'Season',
    'Home_Team',
    'Away_Team',
    'Total_Score_Open',
    'Total_Score_Over_Open',
    'Total_Score_Over_Close',
    'Total_Score_Close',
    'Total_Score_Under_Open',
    'Total_Score_Under_Close'
    ]

In [7]:
total_score_odds = odds[total_score_odds_cols]

In [8]:
total_score_odds.head()

,Match_ID,Round_ID,Season,Home_Team,Away_Team,Total_Score_Open,Total_Score_Over_Open,Total_Score_Over_Close,Total_Score_Close,Total_Score_Under_Open,Total_Score_Under_Close
1922,201901_Adelaide_Hawthorn,201901,2019,Adelaide,Hawthorn,NaN,NaN,1.91,185.5,NaN,1.91
1923,201901_BrisbaneLions_WestCoast,201901,2019,Brisbane Lions,West Coast,NaN,NaN,1.91,186.5,NaN,1.91
1924,201901_Carlton_Richmond,201901,2019,Carlton,Richmond,NaN,NaN,1.91,188.5,NaN,1.91
1925,201901_Collingwood_Geelong,201901,2019,Collingwood,Geelong,NaN,NaN,1.91,181.5,NaN,1.91
1926,201901_Fremantle_NorthMelbourne,201901,2019,Fremantle,North Melbourne,NaN,NaN,1.91,176.5,NaN,1.91

Separate Over/Under into separate rows

In [9]:
ordered_cols = [
    'Match_ID',
    'Round_ID',
    'Season',
    'Home_Team',
    'Away_Team',
    'Market',
    'Total_Score_Open',
    'Total_Score_Close',
    'Total_Score_Open_Odds',
    'Total_Score_Close_Odds',
    ]

In [10]:
total_score_under = total_score_odds.drop(columns = ['Total_Score_Over_Open', 'Total_Score_Over_Close'])
total_score_under = total_score_under.rename(columns = {'Total_Score_Under_Open':'Total_Score_Open_Odds',
                                                        'Total_Score_Under_Close':'Total_Score_Close_Odds'})
total_score_under['Market'] = "Under"
total_score_under = total_score_under[ordered_cols]
total_score_under.head()

,Match_ID,Round_ID,Season,Home_Team,Away_Team,Market,Total_Score_Open,Total_Score_Close,Total_Score_Open_Odds,Total_Score_Close_Odds
1922,201901_Adelaide_Hawthorn,201901,2019,Adelaide,Hawthorn,Under,NaN,185.5,NaN,1.91
1923,201901_BrisbaneLions_WestCoast,201901,2019,Brisbane Lions,West Coast,Under,NaN,186.5,NaN,1.91
1924,201901_Carlton_Richmond,201901,2019,Carlton,Richmond,Under,NaN,188.5,NaN,1.91
1925,201901_Collingwood_Geelong,201901,2019,Collingwood,Geelong,Under,NaN,181.5,NaN,1.91
1926,201901_Fremantle_NorthMelbourne,201901,2019,Fremantle,North Melbourne,Under,NaN,176.5,NaN,1.91

In [11]:
total_score_over = total_score_odds.drop(columns = ['Total_Score_Under_Open', 'Total_Score_Under_Close'])
total_score_over = total_score_over.rename(columns = {'Total_Score_Over_Open':'Total_Score_Open_Odds',
                                                        'Total_Score_Over_Close':'Total_Score_Close_Odds'})
total_score_over['Market'] = "Over"
total_score_over = total_score_over[ordered_cols]
total_score_over.head()

,Match_ID,Round_ID,Season,Home_Team,Away_Team,Market,Total_Score_Open,Total_Score_Close,Total_Score_Open_Odds,Total_Score_Close_Odds
1922,201901_Adelaide_Hawthorn,201901,2019,Adelaide,Hawthorn,Over,NaN,185.5,NaN,1.91
1923,201901_BrisbaneLions_WestCoast,201901,2019,Brisbane Lions,West Coast,Over,NaN,186.5,NaN,1.91
1924,201901_Carlton_Richmond,201901,2019,Carlton,Richmond,Over,NaN,188.5,NaN,1.91
1925,201901_Collingwood_Geelong,201901,2019,Collingwood,Geelong,Over,NaN,181.5,NaN,1.91
1926,201901_Fremantle_NorthMelbourne,201901,2019,Fremantle,North Melbourne,Over,NaN,176.5,NaN,1.91

Combine Over/Under

In [12]:
total_score_data = pd.concat([total_score_over, total_score_under])
total_score_data = total_score_data.sort_values(by = ['Match_ID'])

In [13]:
total_score_data.head()

,Match_ID,Round_ID,Season,Home_Team,Away_Team,Market,Total_Score_Open,Total_Score_Close,Total_Score_Open_Odds,Total_Score_Close_Odds
1922,201901_Adelaide_Hawthorn,201901,2019,Adelaide,Hawthorn,Over,NaN,185.5,NaN,1.91
1922,201901_Adelaide_Hawthorn,201901,2019,Adelaide,Hawthorn,Under,NaN,185.5,NaN,1.91
1923,201901_BrisbaneLions_WestCoast,201901,2019,Brisbane Lions,West Coast,Over,NaN,186.5,NaN,1.91
1923,201901_BrisbaneLions_WestCoast,201901,2019,Brisbane Lions,West Coast,Under,NaN,186.5,NaN,1.91
1924,201901_Carlton_Richmond,201901,2019,Carlton,Richmond,Over,NaN,188.5,NaN,1.91

Calculate Implied and True Odds Probabilities

In [14]:
def convert_decimal_odds_to_probability(decimal_odds):
    
    return 1 / decimal_odds

In [22]:
total_score_data['Total_Score_Open_Implied%'] = convert_decimal_odds_to_probability(total_score_data['Total_Score_Open_Odds'])
total_score_data['Total_Score_Close_Implied%'] = convert_decimal_odds_to_probability(total_score_data['Total_Score_Close_Odds'])

In [23]:
total_score_data.head()

,Match_ID,Round_ID,Season,Home_Team,Away_Team,Market,Total_Score_Open,Total_Score_Close,Total_Score_Open_Odds,Total_Score_Close_Odds,Total_Score_Close_Implied%,Total_Score_Open_Implied%
1922,201901_Adelaide_Hawthorn,201901,2019,Adelaide,Hawthorn,Over,NaN,185.5,NaN,1.91,0.52356,NaN
1922,201901_Adelaide_Hawthorn,201901,2019,Adelaide,Hawthorn,Under,NaN,185.5,NaN,1.91,0.52356,NaN
1923,201901_BrisbaneLions_WestCoast,201901,2019,Brisbane Lions,West Coast,Over,NaN,186.5,NaN,1.91,0.52356,NaN
1923,201901_BrisbaneLions_WestCoast,201901,2019,Brisbane Lions,West Coast,Under,NaN,186.5,NaN,1.91,0.52356,NaN
1924,201901_Carlton_Richmond,201901,2019,Carlton,Richmond,Over,NaN,188.5,NaN,1.91,0.52356,NaN

In [26]:
total_implied_odds = total_score_data[['Match_ID', 'Total_Score_Open_Implied%', 'Total_Score_Close_Implied%']].groupby(['Match_ID']).sum().reset_index()
total_implied_odds.columns = ["Match_ID", "Total_Score_Open_Total%", "Total_Score_Close_Total%"]
total_implied_odds.head()

,Match_ID,Total_Score_Open_Total%,Total_Score_Close_Total%
0,201901_Adelaide_Hawthorn,0.0,1.04712
1,201901_BrisbaneLions_WestCoast,0.0,1.04712
2,201901_Carlton_Richmond,0.0,1.04712
3,201901_Collingwood_Geelong,0.0,1.04712
4,201901_Fremantle_NorthMelbourne,0.0,1.04712

In [28]:
total_score_data = pd.merge(total_score_data, total_implied_odds, how = "left", on = "Match_ID")

In [29]:
total_score_data['Total_Score_Open_Margin'] = np.where(total_score_data['Total_Score_Open_Total%'] == 0.0, 0, total_score_data['Total_Score_Open_Total%'] - 1)
total_score_data['Total_Score_Close_Margin'] = np.where(total_score_data['Total_Score_Close_Total%'] == 0.0, 0, total_score_data['Total_Score_Close_Total%'] - 1)

In [30]:
total_score_data.head()

,Match_ID,Round_ID,Season,Home_Team,Away_Team,Market,Total_Score_Open,Total_Score_Close,Total_Score_Open_Odds,Total_Score_Close_Odds,Total_Score_Close_Implied%,Total_Score_Open_Implied%,Total_Score_Open_Total%,Total_Score_Close_Total%,Total_Score_Open_Margin,Total_Score_Close_Margin
0,201901_Adelaide_Hawthorn,201901,2019,Adelaide,Hawthorn,Over,NaN,185.5,NaN,1.91,0.52356,NaN,0.0,1.04712,0.0,0.04712
1,201901_Adelaide_Hawthorn,201901,2019,Adelaide,Hawthorn,Under,NaN,185.5,NaN,1.91,0.52356,NaN,0.0,1.04712,0.0,0.04712
2,201901_BrisbaneLions_WestCoast,201901,2019,Brisbane Lions,West Coast,Over,NaN,186.5,NaN,1.91,0.52356,NaN,0.0,1.04712,0.0,0.04712
3,201901_BrisbaneLions_WestCoast,201901,2019,Brisbane Lions,West Coast,Under,NaN,186.5,NaN,1.91,0.52356,NaN,0.0,1.04712,0.0,0.04712
4,201901_Carlton_Richmond,201901,2019,Carlton,Richmond,Over,NaN,188.5,NaN,1.91,0.52356,NaN,0.0,1.04712,0.0,0.04712

In [31]:
total_score_data['Total_Score_Open_True%'] = total_score_data['Total_Score_Open_Implied%'] / total_score_data['Total_Score_Open_Total%']
total_score_data['Total_Score_Close_True%'] = total_score_data['Total_Score_Close_Implied%'] / total_score_data['Total_Score_Close_Total%']

In [32]:
total_score_data.head()

,Match_ID,Round_ID,Season,Home_Team,Away_Team,Market,Total_Score_Open,Total_Score_Close,Total_Score_Open_Odds,Total_Score_Close_Odds,Total_Score_Close_Implied%,Total_Score_Open_Implied%,Total_Score_Open_Total%,Total_Score_Close_Total%,Total_Score_Open_Margin,Total_Score_Close_Margin,Total_Score_Open_True%,Total_Score_Close_True%
0,201901_Adelaide_Hawthorn,201901,2019,Adelaide,Hawthorn,Over,NaN,185.5,NaN,1.91,0.52356,NaN,0.0,1.04712,0.0,0.04712,NaN,0.5
1,201901_Adelaide_Hawthorn,201901,2019,Adelaide,Hawthorn,Under,NaN,185.5,NaN,1.91,0.52356,NaN,0.0,1.04712,0.0,0.04712,NaN,0.5
2,201901_BrisbaneLions_WestCoast,201901,2019,Brisbane Lions,West Coast,Over,NaN,186.5,NaN,1.91,0.52356,NaN,0.0,1.04712,0.0,0.04712,NaN,0.5
3,201901_BrisbaneLions_WestCoast,201901,2019,Brisbane Lions,West Coast,Under,NaN,186.5,NaN,1.91,0.52356,NaN,0.0,1.04712,0.0,0.04712,NaN,0.5
4,201901_Carlton_Richmond,201901,2019,Carlton,Richmond,Over,NaN,188.5,NaN,1.91,0.52356,NaN,0.0,1.04712,0.0,0.04712,NaN,0.5

In [33]:
def convert_probability_to_decimal_odds(prob):
    
    return round(1 / (prob / 1), 2)

In [35]:
total_score_data['Total_Score_Open_True_Odds'] = convert_probability_to_decimal_odds(total_score_data['Total_Score_Open_True%'])
total_score_data['Total_Score_Close_True_Odds'] = convert_probability_to_decimal_odds(total_score_data['Total_Score_Close_True%'])

In [37]:
total_score_data.tail()

,Match_ID,Round_ID,Season,Home_Team,Away_Team,Market,Total_Score_Open,Total_Score_Close,Total_Score_Open_Odds,Total_Score_Close_Odds,Total_Score_Close_Implied%,Total_Score_Open_Implied%,Total_Score_Open_Total%,Total_Score_Close_Total%,Total_Score_Open_Margin,Total_Score_Close_Margin,Total_Score_Open_True%,Total_Score_Close_True%,Total_Score_Open_True_Odds,Total_Score_Close_True_Odds
1561,2022F3_Geelong_BrisbaneLions,2022F3,2022,Geelong,Brisbane Lions,Over,160.5,159.5,1.91,1.91,0.52356,0.52356,1.04712,1.04712,0.04712,0.04712,0.5,0.5,2.0,2.0
1562,2022F3_Sydney_Collingwood,2022F3,2022,Sydney,Collingwood,Under,160.5,162.5,1.91,1.91,0.52356,0.52356,1.04712,1.04712,0.04712,0.04712,0.5,0.5,2.0,2.0
1563,2022F3_Sydney_Collingwood,2022F3,2022,Sydney,Collingwood,Over,160.5,162.5,1.91,1.91,0.52356,0.52356,1.04712,1.04712,0.04712,0.04712,0.5,0.5,2.0,2.0
1564,2022F4_Geelong_Sydney,2022F4,2022,Geelong,Sydney,Over,163.5,164.5,1.91,1.91,0.52356,0.52356,1.04712,1.04712,0.04712,0.04712,0.5,0.5,2.0,2.0
1565,2022F4_Geelong_Sydney,2022F4,2022,Geelong,Sydney,Under,163.5,164.5,1.91,1.91,0.52356,0.52356,1.04712,1.04712,0.04712,0.04712,0.5,0.5,2.0,2.0

In [40]:
total_score_data.mean()

Season                         2020.528736
Total_Score_Open                155.200258
Total_Score_Close               154.281609
Total_Score_Open_Odds             1.896938
Total_Score_Close_Odds            1.909642
Total_Score_Close_Implied%        0.523684
Total_Score_Open_Implied%         0.527185
Total_Score_Open_Total%           1.042251
Total_Score_Close_Total%          1.047368
Total_Score_Open_Margin           0.053745
Total_Score_Close_Margin          0.047368
Total_Score_Open_True%            0.500000
Total_Score_Close_True%           0.500000
Total_Score_Open_True_Odds        2.000006
Total_Score_Close_True_Odds       2.000038
dtype: float64

Export to csv

In [41]:
list(total_score_data)

['Match_ID',
 'Round_ID',
 'Season',
 'Home_Team',
 'Away_Team',
 'Market',
 'Total_Score_Open',
 'Total_Score_Close',
 'Total_Score_Open_Odds',
 'Total_Score_Close_Odds',
 'Total_Score_Close_Implied%',
 'Total_Score_Open_Implied%',
 'Total_Score_Open_Total%',
 'Total_Score_Close_Total%',
 'Total_Score_Open_Margin',
 'Total_Score_Close_Margin',
 'Total_Score_Open_True%',
 'Total_Score_Close_True%',
 'Total_Score_Open_True_Odds',
 'Total_Score_Close_True_Odds']

In [ ]:
export_cols = [
    'Match_ID',
    'Round_ID',
    'Season',
    'Home_Team',
    'Away_Team',
    'Market',
    'Total_Score_Open',
    'Total_Score_Close',
    'Total_Score_Open_Odds',
    'Total_Score_Close_Odds',
    'Total_Score_Close_Implied%',
    'Total_Score_Open_Implied%',
    'Total_Score_Open_Total%',
    'Total_Score_Close_Total%',
    'Total_Score_Open_Margin',
    'Total_Score_Close_Margin',
    'Total_Score_Open_True%',
    'Total_Score_Close_True%',
    'Total_Score_Open_True_Odds',
    'Total_Score_Close_True_Odds'
]

In [42]:
total_score_data.to_csv("/total-points-score-model/data/aus_sports_betting_total_score_odds.csv", index = False)